.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(180, 147, 85);
    height: 256px;
    h1 {
        font-family: 'Great Vibes', cursive; // font-family: 'Merriweather', serif;
        // font-family: 'Montserrat', sans-serif;
        margin: 2rem 0;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        width: 25rem;
        margin-bottom: 1.5rem;
        a {
            color: white;
            &:hover {
                transition: all 0.3s ease-in-out;
                color: rgba(110, 8, 8, 0.945); // background: rgb(228, 204, 126);
                // filter: blur(10px);
                // opacity: .1;
            }
        }
    }
}

.logo {
    // &:hover{
    //     filter: blur(1px);
    //     transition: all 0.3s ease-in-out;
    //     background: rgb(228, 204, 126);
    // }
    margin-top: 1.5rem;
    img {
        width: 6rem;
    }
}